  body {
    padding-top: 8%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #EEF0F7;
    display: grid;
    place-items: center;
    min-height: 100vh;
    overflow: auto;
  }
  
  .container {
    background: linear-gradient(to bottom right, #FF9EC4, #FFD07E);
    width: 700px;
    height: 600px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    line-height: 1.5;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
    overflow: hidden;
    margin-bottom: 40px;
  }
  

  .container::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to bottom right, #FF9EC4, #FFD07E);
    width: 900px;
    height: 900px;
    border-radius: 50%;
    z-index: -1;
  }

  .container img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
  .container-text {
    padding: 10px 40px 10px 10px;
  }
  .container-text h2 {
    font-size: 1.2rem;
    color: #1A2250;
  }
  .container-text p {
    font-size: 14px;
    color: #3B4169;
    margin: 10px 0;
  }
  .container-text input,
  .container-text button {
    width: 250px;
    background-color: #ffffff;
    border: none;
    padding: 14px;
    border-radius: 3px;
  }
  .container-text input {
    border: 2px solid #DADDEC;
    margin: 5px 0 10px;
    font-size: 1rem;
    color: #656880;
  }
  .container-text button {
    width: 150px;
    margin: 0 auto;
    background-image: linear-gradient(to right, #4a95d2, #354fa5);
    display: block;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 20px #89caff94;
    transition: box-shadow 0.3s ease-in-out;
  }
  .container-text button:hover {
    box-shadow: none;
  }
  .container-text span {
    display: block;
    text-align: center;
    margin: 20px 0 0;
    color: #BABDCB;
    font-size: 12px;
  }