.title {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 38%;
    border-radius: 25px;
    text-align: center;
    width: 25%;
    background-color: rgb(251, 231, 144);
    display: flex;
    justify-content: center;
}

.Atitle {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 38%;
    border-radius: 25px;
    text-align: center;
    width: 25%;
    background-color: rgb(251, 231, 144);
}

.title a:hover{
    background-color: rgb(255, 211, 91);
    padding: 10px 20px 4px 20px;
    border-radius: 10px;
}

.row {
    align-content: center;
    justify-content: center;
    display: flex; 
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 25%;
    /* padding: 0 15px; */
    padding: 20px 0px 20px 0px;
    margin: 0px 20px 60px 20px;
    background-color: rgba(251, 231, 144);
    border-radius: 10%;
}

.box:hover{
    background-color: rgb(255, 211, 91);
}

.uniAbox {
    width: 25%;
    /* padding: 0 15px; */
    padding: 20px 0px 20px 0px;
    margin: 0px 20px 60px 20px;
    background-color: rgba(251, 231, 144);
    border-radius: 10%;
}

.uniLogo {
    border-radius: 10%;
}

.displayBox {
    margin-left: 10%;
    padding: 20px 20px 20px 20px;
    flex-wrap: wrap;
    display: flex; 
    width: 80%;
    background-color: rgb(251, 231, 144);
    border-radius: 15px;
    margin-bottom: 50px;
}

.displayBox h2{
    width: 100%;
}



.uniDes{
    width: 70%;
    float: right;
    margin-right: 20px;
}



.intake{
    width: 33.3%;
    border-radius: 10px;
    padding-bottom: 50px;
}

.intake:hover{
    background-color: rgb(255, 211, 91);
}

.fa-regular fa-pen-to-square{
    color: white;
    margin-left: 10px;
}

#kInfo{
    margin-left: 10%;
    margin-bottom: 20px;
}

#editBtn{
    background-color: #ff7417;
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px 0px 10px 0px;
}

#editBtn a{
    color: white;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#editBtn:hover {
    background-color: rgba(255, 166, 50, 0.582);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#map {
    width: 100%;
    height: 400px;
}
  
#courseContainer{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

#courseContainer:hover{
    background-color: rgb(255, 211, 91);
}

.videoBox {
    width: 25%;
    padding: 20px 0px 20px 0px;
    margin: 0px 20px 60px 20px;
    background-color: rgba(251, 231, 144);
    border-radius: 10%;
    text-align: center;
}

.videoTitle {
    margin-top: 10px;
    font-weight: bold;
}