body {
    line-height: 1.5;
}

#logo{
    height: 100px;
    width: 300px;
}

.fcontainer {
  max-width: 100%;
  margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

ul li{
    list-style: none;
}

.footer {
    background-color: #FBE790;
    padding: 30px 0;
    width: 100%;
    bottom: 0;
    position: relative;
}



.footer-col{
    width: 23%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 20px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before { 
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff8f44;
    height: 2px;
    box-sizing: border-box;
    width: 150px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ff8f44;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a :hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-col img {
    height: 50px;
    margin-bottom: 10px;
}

/* responsive */
@media(max-width: 767px) {
   .footer-col {
    width: 50%;
    margin-bottom: 30px;
   } 
}

@media(max-width: 574px) {
   .footer-col {
    width: 100%;
   } 
}