

/* Home section style */
.home_section {
  background-image: url(https://www.outsystems.com/-/media/images/solutions/higher-education/higher-education-hero-v2.jpg?h=920&iar=0&w=1456&updated=20220111092106&hash=D2EBF1F7DB974802BC098C6752EADED3);
  background-size: cover;
  height: 100vh;
}

.overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home h1 {
  font-size: 4rem;
  color: #fff;
  text-transform: capitalize;
}

.home span {
  color: rgb(228, 151, 8);
}

.home_buttons {
  margin-top: 2rem;
}

.home_buttons button {
  --bg: rgb(228, 151, 8);
  --hover-bg: #fdf7fc;
  --hover-text: #000;
  color: #fff;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 1.2em 3em;
  background: var(--bg);
  transition: 0.2s;
  margin: 3rem;
}

.home_buttons button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.home_buttons button:active {
  transform: translate(0);
  box-shadow: none;
}

.home_buttons button i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .home h1 {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .home h1 {
    font-size: 2.5rem;
  }

  .home_buttons button {
    padding: 1em 2.5em;
    margin: 2rem;
  }
}
  /* .home_buttons .btn1{
    background: rgb(228, 151, 8);
    color: #fff;
  } */
  
/* services */
.services {
  background: rgb(255, 255, 255);
  padding: 2rem 1rem;
  /* margin-top: 15px; */
}

.services .title {
  text-align: center;
}

.title h1 {
  font-size: 2rem;
  text-transform: capitalize;
}

.title span {
  color: rgb(228, 151, 8);
}

.title .slogan {
  font-size: 1rem;
  color: gray;
}

.services_boxes {
  display: flex;
  flex-wrap: wrap; /* Add wrapping for smaller screens */
  justify-content: center;
  margin-top: 1rem;
}

.box {
  width: 360px;
  background: #fff;
  padding: 2rem;
  margin: 4rem;
  text-align: center;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: 1px 30px 20px rgba(0, 0, 0, 0.1);
}

.box i {
  font-size: 4rem;
  color: rgb(228, 151, 8);
  margin-bottom: 2rem;
}

.box p {
  color: gray;
  margin-top: 10px;
}

.box:hover {
  border: 2px solid rgb(228, 151, 8);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .services .title h1 {
    font-size: 1.5rem;
  }

  .box {
    width: 100%; /* Make boxes full width on smaller screens */
    margin: 1rem 0; /* Adjust margin for full width */
  }
}

@media (max-width: 480px) {
  .title h1 {
    font-size: 1.2rem;
  }

  .box {
    padding: 1rem; /* Adjust padding for smaller screens */
  }
}

  /* About */
.about-container{
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-image{
  flex: 1;
  margin-right: 40px;
  overflow:hidden;
  margin-bottom: 20px;
}

.about-image img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}

.about-content{
  flex:1;
}

.about-content h2{
  font-size: 23px;
  margin-bottom: 15px;
  color:#302851;
}

.about-content p{
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}

.about-content .read-more{
  display: inline-block;
  padding: 10px 20px;
  background-color: #b1a5a5;
  color:black;
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.3s ease;
}

.about-content .read-more:hover{
  background-color: rgb(105, 105, 105);
}

@media (max-width:768px){
  .about-container{
    padding: 0px;
  }
  .about{
    padding: 20px;
    flex-direction: column;
  }
  .about-image{
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .about-content p{
    padding: 0px;
    font-size: 16px;
  }
  .about-content .read-more{
    font-size: 16px;
  }
}


/* Slider */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-180% + 15px)); /* Adjust for margin-right */
  }
}

.slider {
  margin: 100px auto; /* Center the slider horizontally */
  overflow: hidden;
  width: 100%; /* Make the slider full width */
}

.slider h4 {
  text-align: center;
  color: #666;
  margin-bottom: 10px; /* Increase margin for better spacing */
}

.slide-track {
  animation: scroll 60s linear infinite;
  white-space: nowrap; /* Prevent line break between slides */
  font-size: 0; /* Remove white space between inline-block elements */
}

.slide {
  display: inline-block; /* Display slides inline */
  height: auto;
  width: auto;
  margin-right: 20px;
  max-width: 100%; /* Make slides responsive */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .slide {
    margin-right: 10px; /* Reduce margin for smaller screens */
  }
}